In [1]:
import numpy as np
import pandas as pd

In [32]:
df=pd.read_csv("C:\\Users\\subha\\OneDrive\\Documents\\titanic.py.csv",usecols=["Survived","Age","Fare"])
df.head()

   Survived   Age     Fare
0         0  34.5   7.8292
1         1  47.0   7.0000
2         0  62.0   9.6875
3         0  27.0   8.6625
4         1  22.0  12.2875

In [34]:
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Fare"].fillna(df["Fare"].mean(),inplace=True)

In [35]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
x=df.drop(columns=["Survived"])
y=df["Survived"]

In [40]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import KBinsDiscretizer

In [44]:
Age_KBin=KBinsDiscretizer(n_bins=15,encode="ordinal",strategy="quantile")
Fare_KBin=KBinsDiscretizer(n_bins=15,encode="ordinal",strategy="quantile")

In [46]:
trf=ColumnTransformer([
    ("first",Age_KBin,[0]),
    ("second",Fare_KBin,[1]),
    
    
])

In [47]:
x_train_new=trf.fit_transform(x_train)
x_test_new=trf.transform(x_test)

C:\Users\subha\anaconda3\lib\site-packages\sklearn\preprocessing\_discretization.py:279: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(

In [51]:
output=pd.DataFrame({
    "Age":x_train["Age"],
    "Age_trf":x_train_new[:,0],
    "Fare":x_train["Fare"],
    "Fare_trf":x_train_new[:,1]
    
    
})

In [52]:
output

          Age  Age_trf     Fare  Fare_trf
336  32.00000      8.0  13.0000       6.0
31   24.00000      4.0  31.5000      11.0
84   30.27259      8.0  10.7083       5.0
287  24.00000      4.0  82.2667      13.0
317  19.00000      2.0  10.5000       5.0
..        ...      ...      ...       ...
71   21.00000      3.0   7.8958       4.0
106  21.00000      3.0   7.8208       3.0
270  46.00000     11.0  75.2417      13.0
348  24.00000      4.0  13.5000       7.0
102  30.27259      8.0   7.7500       2.0

[334 rows x 4 columns]

In [55]:
output["Age_lables"]=pd.cut(x=df["Age"],bins=trf_named_transformers_["first"].bin_edges_[0].tolist())

NameError: name 'named_transformers_' is not defined